.screen .screen-content {
    max-width: 100%;
}

.item-selected {
    border: 2px solid #6EC89B !important;
}

.pos .price_list {
    color: #6EC89B;
}

.pos .modal-dialog .popup {
    height: 600px;
}

.pos .client-detail {
    padding-top: 5px;
}

.pos .client-detail .label {
    color: #6EC89B;
}

.pos .label {
    color: black;
}

.screen .screen-content {
    max-width: none;
}

.pos .payment-numpad .numpad {
    width: 350px;
}

.pos .payment-numpad .numpad {
    border-top: none;
}

.pos .product-list {
    padding: 2px;
    text-align: center;
    background: white;
}

.pos .numpad button {
    border-right: 0px solid;
    border-bottom: 0px solid;
}

.pos .numpad {
    border-top: 0px solid;
    width: 216px;
    margin: 0px;
}

.pos .actionpad {
    width: 216px;
    margin: 0px;
    float: inherit;
}

.pos .payment-buttons {
    width: 25%;
}

.pos .category-simple-button {
    background: white;
}

.screen .top-content {
    height: 100px;
}

.screen .right-content {
    top: 100px;
}

.screen .centered-content {
    top: 100px;
}

.pos .clientlist-screen .client-details-left {
    width: 40%;
}

.pos .clientlist-screen .client-details-left {
    width: 40%;
}

.pos .oe_status {
    float: left;
    padding-right: 40px;
}

.pos .product .qty_available {
    position: absolute;
    float: left;
    left: 0px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #6EC89B;
    padding: 2px 5px;
    text-align: left;
    font-size: 12px;
}
.pos .leftpane {
    left: 220px;
}

.pos .buttons_pane {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 220px;
    width: 220px;
    border-right: none;
    background: white;
}

.pos .button-list > button {
    height: 50px;
    width: 90%;
    text-align: left;
    font-size: 13px;
}

.pos .button-list > button:hover {
    background: #447DF7;
    color: white;
}

.pos .button-list {
    text-align: left;
}

.pos .rightpane {
    left: 660px;
    border-right: none;
    border-right: white;
}

.pos .form-control .voucher-select .detail {
    height: 150px;
}

.pos .button-list > button {
    background: white;
    color: green;
}

.pos .clientlist-screen .client-detail > .label {
    text-align: left;
    font-size: 12px;
}

.pos .screen .screen-content {
    background: white;
}

.pos .pos-branding {
    font-style: normal;
    color: white;
}

.pos .count_item {
    font-style: normal;
    color: #ff9800;
}

.pos .amount_total {
    font-style: normal;
    color: #ff9800;
}

.pos .remaining_point {
    font-style: normal;
    color: #ff9800;
}

.pos .pos-branding .username {
    color: #ff9800;
    font-style: normal;
}

.pos .product {
    border-bottom-width: 1px;
    margin: 2px !important;
}

.pos .product-list {
    text-align: left;
}

.pos .loader-feedback h1 {
    font-size: 20px;
    color: orangered;
}

@font-face {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pos {
    font-family: "Helvetica";
}

.item-selected {
    border: 2px solid #6EC89B !important;
}

.pos .credit {
    color: #6EC89B;
    font-size: 14px;
}

body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.pos .wallet {
    font-size: 14px;
}

.pos .clientlist-screen .client-detail > .label {
    width: 150px;
}

.pos .invoice-action {
    cursor: pointer;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pos .confirm-logout {
    margin-top: 10px;
    color: orangered;
}

.pos .point {
    color: #6EC89B;
    font-size: 12px;
    margin-right: 15px;
    margin-left: 15px;
}

.pos .order .loyalty {
    width: 100%;
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: solid 3px rgb(110, 200, 155);
}

.pos .loyalty_information {
    margin-left: 10px;
    float: left;
    padding: 10px;
    max-width: 216px;
    text-align: left;
    background: rgba(110, 200, 155, 0.17);
    border-radius: 5px;
}

.pos .loyalty_plus_point {
    color: #6EC89B;
    text-align: right;
}

.pos .loyalty_redeem_point {
    color: orangered;
    text-align: right;
}

.pos .loyalty_remaining_point {
    color: deepskyblue;
    border-top: solid 2px;
    text-align: right;
    padding-top: 4px;
    margin-top: 4px;
}

.pos .loyalty_information.negative {
    color: #C86E6E;
    background: rgba(200, 110, 110, 0.17);
}

.loyalty .subtitle {
    text-align: center;
}

.loyalty .title {
    font-size: 20px;
    text-align: center;
}

.pos .pos_signature {
    background: greenyellow;
    border-color: blue;
    border-radius: 3px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 60px;
}

.pos .so_link {
    color: blue;
}

.pos .so_info {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-style: oblique;
    color: blue;
}

.pos .select-currency {
    background: white;
    color: blueviolet;
}

.pos .currency-rate {
    color: orangered;
    font-size: 14px;
}

.pos .select-currency {
    background: white;
    color: blueviolet;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

.pos .currency-rate {
    color: blueviolet;
    font-size: 14px;
}

.pos .currency-covert {
    color: blueviolet;
    font-size: 14px;
}

.pos .multi-currency {
    padding: 16px;
    padding-top: 0;
    border-bottom: dashed 1px gainsboro;
    min-height: 154px;
    margin-left: 18px;
    margin-right: 15px;
    font-family: "Courier New", Courier, monospace;
    margin-top: 20px;
}

.screen .screen-content {
    max-width: 100%;
}

.pos .order .orderline .uom_change {
    text-align: left;
    width: 100%;
    font-size: 80%;
    color: blueviolet;
}

.pos .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 200px;
    text-align: center;
}

.pos .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.pos .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_not_available {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 200px;
    text-align: center;
}

.pos .product_not_available span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: red;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.pos .product_not_available span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_not_available span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_available {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 200px;
    text-align: center;
}

.pos .product_available span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.pos .product_available span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_available span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .paymentline. item {
    font-size: 14px;
}

.pos .return_line {
    color: red;
}

.pos .draft {
    color: orangered;
}

.pos .list-line {
    margin: auto;
    bottom: 0px;
    max-width: 800px;
}

.pos .order-note-information {
    margin-left: 10px;
    float: left;
    max-width: 216px;
    text-align: left;
    background: rgba(110, 200, 155, 0.17);
    border-radius: 5px;
    margin-top: 10px;
}

.pos .order-note {
    color: darkviolet;
}

.pos .payment-signature-order {
    color: green;
}

.pos .partial-pay {
    color: orange;
}

.pos .tooltip-info {
    font-size: 14px;
    font-style: normal;
    color: #6EC89B !important;
    text-align: left
}

.pos .payment-numpad .numpad {
    width: 300px;
}

.pos .line-variant {
    font-size: 14px;
    color: #6EC89B;
    padding-top: 5px;
    padding-left: 10px;
}

.item-selected {
    border: 2px solid #6EC89B !important;
}

.pos .clientlist-screen .button.new-product {
    left: 50%;
    margin-left: 120px;
}

.pos .promotion-item {
    font-size: 14px;
    font-style: normal;
    color: darkviolet;
    padding-top: 5px;
    padding-left: 10px;
}

.pos .label-lot {
    font-size: 14px;
    padding-left: 10px;
    float: left
}

.pos .popup input, .pos .popup-input {
    width: 90%;
}

.pos .voucher {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 20px;
}

.pos .voucher-label {
    font-size: 14px;
    float: left;
    padding-left: 24px;
}

.pos .voucher-form-error {
    background: red;
}

.pos .voucher-select {
    width: 90%;
    padding: 5px !important;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}

.pos .voucher-form-required {
    color: red;
}

.pos .pads {
    height: 30%;
}

.pos .table {
    width: 100%;
}

.pos .alert-popup {
    max-width: 800px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pos .searchbox input {
    width: 250px;
}

.ui-autocomplete {
    background-color: lightgray;
}

.ui-menu-item {
    color: orangered;
    font-size: 14px;
    cursor: pointer;
}

.pos .search_client {
    background-color: white;
    width: 100%;
    border-radius: 3px;
    border-color: orange;
}

.pos .find_customer {

}

.pos .find_customer input {
    width: 85%;
    border: 1px solid #cecbcb;
    padding: 3px 3px 3px 3px;
    padding-left: 38px;
    margin: 6px;
    background: url("/point_of_sale/static/src/img/search.png") no-repeat 15px;
    background-color: white;
    border-radius: 13px;
    font-family: "Lato", "Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 14px;
}

.pos .info_tooltip {
    top: 50px;
}

.pos .hide_numpad {
    color: white;
    background-color: #ff9800;
}
.pos .popup_note {
    max-width: 350px;
}
.pos .image-row {
    max-width: 35px;
    max-height: 35px;
    border-radius: 6px;
}
.pos .timeline.timeline-simple {
    margin-top: 0px;
    padding: 0 0 0px;
}